{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="content">
      <h2>Bienvenue sur l'espace administrateur</h2>
      <a href="{{ path('page_home') }}">Retour au site</a>
    </div>
{% endblock %}
