body{
  margin:0px;
  padding:0px;
  font-family: "open sans";
}
.page{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

header{
  height:75px;
  width:100%;
  background-color: #2B2E39;
}

nav{
  height:75px;
  width:100%;
  display:flex;
}

.icon{
  width:200px;
  height:75px;
  background-color: #DE4F4F;
  font-size:23px;
  color:white;
  font-weight: bold;
  line-height:75px;
  text-align:center;
}
ul{
  display: flex;
  flex-direction: row;
  color:white;
  list-style:none;
  height:20px;
  margin-top:auto;
  margin-bottom:auto;
}
li{
  padding-left:20px;
  padding-right:20px;
}
li a:link{
  text-decoration:none;
  color:white;
}
li a:visited {
  color: white;
}

.content{
}

footer{
  margin-top:50px;
  width:100%;
  height:250px;
  background-color: #2B2E39;
}

.authentification{
  margin-top:50px;
  margin-bottom:50px;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  width:700px;
  height:500px;
  color:#2B2E39;
  border:3px solid #DE4F4F;
}
.authentification h2{
  text-align:center;
}
.authentification form{
  font-size:18px;
}
.authentification label{
  width:200px;
  height:40px;
}
.authentification input{
  width:200px;
  height:30px;
  text-align:left;
}
.authentification form div div{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn-authentification{
  display:flex;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  background-color:#2B2E39;
  border:0px;
  color:white;
  font-size:20px;
}

.itemArticle{
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
  display:flex;
  padding:10px;
  width:800px;
  height:100px;
  border: 4px solid #2B2E39;
  /*border-radius:8px;*/
}
.photoArticle{
  display:flex;
  width:100px;
  height:100px;
}
.contentArticle{
}
.titreArticle{
  color:#DE4F4F;
  font-weight:bold;
  font-size:24px;
}
.resumeArticle{
  color:#2B2E39;
}

.suivre-user{
  width:200px;
  height:40px;
  color:white;
  text-align:center;
  border-radius:15px;
  background-color: #2B2E39;
  line-height: 40px;
  cursor:pointer;
}
#notification{
  overflow-y:scroll;
  width:300px;
  min-height:50px;
  max-height:300px;
  position:absolute;
  left:100%;
  margin-left:-300px;
  display:none;
}
.notif{
  height: 50px;
  width:300px;
  border-bottom:1px solid #2B2E39;
  cursor:pointer;
  padding:15px;
  color:#2B2E39;
}

.viewed{
    background-color: white;
}
.not-viewed{
    background-color: #E9EBEC;
}
.center{
  text-align:center;
}
.button-retour li a:link, .button-retour a:visited{
  color:white;
  text-decoration:none;
}
