{% extends 'base.html.twig' %}

{% block body %}
  {% block fos_user_content %}
      <div class="authentification">
        <h2>Connexion</h2>
        {{ include('FOSUserBundle:Security:login_content.html.twig') }}
      </div>
  {% endblock fos_user_content %}
{% endblock %}
